
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, .btn, button {margin: 0; padding: 0; border: 0; font-style: inherit; font-weight: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline }
ul {list-style: none}
ol {list-style: none}
a img, frameset {border: 0}
table {border-collapse: collapse; border-spacing: 0}
caption, th, td {text-align: left; font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q {quotes: "" ""}
@font-face {font-family: 'Din Thin'; src: url('../fonts/din-thin.eot?') format('eot'), url('../fonts/din-thin.svg#PFDinTextPro-Thin') format('svg')}
@font-face {font-family: 'Din Light'; src: url('../fonts/din-light.eot?') format('eot'), url('../fonts/din-light.svg#PFDinTextPro-Light') format('svg')}
@font-face {font-family: 'Din Regular'; src: url('../fonts/din-regular.eot?') format('eot'), url('../fonts/din-regular.svg#PFDinTextPro-Regular') format('svg')}
.clear {height: 1px; clear: both; margin-top: -1px; overflow: hidden}
.row:after, .clearfix:after, #content:after, .section:after, .section-header:after, .section-header-inner:after, .section-content:after, .section-content-inner:after, .section-footer:after, .contain:after, .header:after, .content:after, .footer:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.lte7 .row, .lte7 .clearfix, .lte7 #content, .lte7 .section, .lte7 .section-header, .lte7 .section-header-inner, .lte7 .section-content, .lte7 .section-content-inner, .lte7 .section-footer, .lte7 .contain, .lte7 .header, .lte7 .content, .lte7 .footer {height: 1%}
.add-top, #add-top {margin-top: 15px}
.add-bottom, #add-bottom {margin-bottom: 15px}
.no-bottom {margin-bottom: 0 !important; padding-bottom: 0 !important}
.no-top {margin-top: 0}
.no-border {border: 0}
.left {float: left}
img.left {margin: 0 15px 15px 0}
.right {float: right}
img.right {margin: 0 0 15px 15px}
.centered {margin: 0 auto 19px}
.text-right {text-align: right}
.text-center {text-align: center}
.disabled, .hide {display: none}
.js .visiblity-hide, .js .visibility-hide {visibility: hidden}
.contain-overflow {overflow: hidden}
.screen-reader {display: block; left: -9999px; position: absolute; top: -9999px}
.clearing {clear: both}
.separate {display: block}
.fixed-case {text-transform: none !important}
p, ul, ol, table {margin: 0 0 12px 0}
em {font-style: italic}
a {color: #df0403; text-decoration: none; -moz-transition: color .25s ease-in-out; -webkit-transition: color .25s ease-in-out; transition: color .25s ease-in-out}
a:hover, a:active {color: #6d0000}
.no-outline {outline: none}

body.main {
    /*background-image: url('pstyleImg/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-color:  #383838;/*#1f1f1f;*/
	font-family:Arial,Dotum,Sans-Serif;
	font-size:12px;
	min-width: 1081px;
}

.loginput
{
	min-width: 150px;
	max-width: 150px;
	min-height: 24px;
	color:#fff;
	font-size: 13px;
	font-weight: bold;
	line-height: 2;
	border-color: grey;
	background-color: #383838;
	    -webkit-border-top-right-radius: 4px;
	    -webkit-border-bottom-right-radius: 4px;
	    -webkit-border-top-left-radius: 4px;
	    -webkit-border-bottom-left-radius: 4px;	    
	    -moz-border-radius-topleft:4px;
	    -moz-border-radius-bottomleft: 4px;
	    -moz-border-radius-topright: 4px;
	    -moz-border-radius-bottomright: 4px;	    
	    border-top-left-radius: 4px;
	    border-bottom-left-radius: 4px;	
	    border-top-right-radius: 4px;
	    border-bottom-right-radius: 4px;	
}

body.hide-overflow {overflow-x: hidden}

#main-wrapper {
	position:relative;
	width:100%;
	/* overflow-x:hidden; */
}

#header_sdk {
    position: relative;
    z-index: 1;
    width: 990px;
    height: 55px;
    margin: 0 auto;
}

.container_sdk {
    position: relative;
    /*width: 1024px;*/
	width: 1081px;
    /*min-height: 1150px;*/
    margin: 0 auto;
    padding: 25px 0 0 0;
    background-color: #eaeaea;
}

#symbol_sdk {
	    position: absolute;
	    left: 0;
	    top: -14px;
}
#symbol_sdk a {
	display: block;
	/*width: 84px;*/
	height: 65px;
	text-indent: -99999px;
}

	#global_sdk {
	    /*margin-left: 84px;*/
	    height: 55px;
	    font-size: 14px;
	    background-color: #000;
	    color: #ffffff;
	    -webkit-border-top-right-radius: 6px;
	    -webkit-border-bottom-right-radius: 6px;
	    -moz-border-radius-topright: 6px;
	    -moz-border-radius-bottomright: 6px;
	    border-top-right-radius: 6px;
	    border-bottom-right-radius: 6px;
	}
	#global_sdk li {
	    position: relative;
	    float: left;
	    color: #ffffff;
	}
	#global_sdk li a {
	    font-weight: bolder;
	}



	    .submenu {
	        position: absolute;
	        display: none;
	        left: 0;
	        top: 0;
	        padding: 10px 0px 20px 0px;
			font-size: 11px;
	        /*font: normal 11px Arial;*/
	        z-index: 100;
	        text-transform: uppercase;
	    }
	    .submenu div {
	        float: left;
	        padding: 0 0px;
	    }
	    .submenu .column ul {
	        margin: 0;
	        padding: 0;
	        list-style-type: none;
	    }
	    .submenu .column ul li {
	        padding-bottom: 0px;
	    }
	    .submenu .column ul li a {
		line-height: 2.5;
			padding-left:25px;
	        color: #fff;
			display: block;
			width:100%;
			height:28px;
	    }


	
	#global_sdk li span.deco {
	    position: absolute;
	    top: 28px;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #3c3c3c;
	}
	#global_sdk li:first-child {
	    margin-left: 5px;
	}
	#global_sdk li:last-child {
	    margin-right: 5px;
	}
		li#gn-login {
	        float: right;
	    }

	    li#gn-findStore {
	        float: right;
	    }

		li#gn-right {
			width:11px;
			height:41px;
	        float: right;
	    }


#footer_sdk {
    z-index: 3;
    width: 1080px;
    height: 130px;
    margin: 0 auto;
    padding: 34px 0;
    color: #FFF;
    font-size: 12px;
    background-color: #383838;
}
#footer_sdk .shell.left {width:156px;}

#footer_sdk .shell:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
	}
#footer_sdk .shell { *zoom:1; }
#footer_sdk h4 {
    float: left;
    width: 151px;
    height: 76px;
    text-indent: -99999px;
    margin-left: 30px;
    padding-bottom: 10px;
}
#footer_sdk p.notice {
    float: right;
    margin-right: 30px;
    font-size: 11px;
    /*font-family: Helvetica, Arial, sans-serif;*/
    text-transform: uppercase;
}
#footer_sdk ul.nav {
    clear: both;
    float: left;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-size: 8pt;
    width: 151px;
    margin-left: 30px;
    line-height: 1.3;
}
#footer_sdk ul.nav li {
    float: left;
    margin: 2px 6px 3px 0;
    text-align: center;
    text-transform: uppercase;
}
#footer_sdk ul.nav li.copyright {
    color: #888888;
    /*font-family: verdana, sans-serif;*/
    text-transform: none;
    text-align: left;
	border-bottom:1px solid #464646;
	padding-bottom:20px;
}

#footer_sdk p.award {text-indent:-99999px; width:127px; height:52px; float:left; margin-left:30px; }
#footer_sdk ul.nav li a {
    color: #FFF;
}
#footer_sdk ul.nav li a:hover {
    color: #aaa;
}
#footer_sdk ul.nav li.line {
    height: 10px;
    padding-right: 5px;
    border-right: 1px solid #fff;
}
#footer_sdk div.outlink {
    float: right;
    text-align: left;
    font-size: 11px;
    padding-right: 50px;
    /*font-family: Helvetica, Arial, sans-serif;*/
    text-transform: uppercase;
}
#footer_sdk div.outlink ul h5 {
    font-size: 13pt;
    font-weight: bold;
    color: #9a9a9a;
}
#footer_sdk div.outlink ul {
    margin: 0 30px;
    float: left;
    font-size: 13pt;
    font-weight: bold;
}
#footer_sdk div.outlink li {
    font-size: 9pt;
    margin: 10px 0px 10px 0px;
}
#footer_sdk div.outlink a {
    display: inlin-block;
    text-transform: uppercase;
    color: #FFF;
}
#footer_sdk div.outlink a:hover {
    color: #aaa;
}
#footer_sdk .right {
    float: right;
}
#footer_sdk .left {
    float: left;
}
#footer_sdk span.en {
	width: 30px;
	height: 13px;
	z-index: 0;
	margin:2px 0 0 5px;
	position: absolute;
}

#footer_sdk li:hover span.en {

}
#footer_sdk p.generalInformation {
	clear: both;
	height: 60px;
	padding-top: 30px;
	color: #878787;
	padding-left: 255px;
	*padding-left: 270px;
	letter-spacing: -1px;
}
#nav-global {bottom: 0; color: #fff; height: 30px; padding-top: 2px; position: fixed; width: 100%; z-index: 100000}
.ie6 #nav-global {display: none}
#nav-global a {color: #fff}
#nav-global .nav {height: 30px; margin: 0 auto; position: relative; width: 1081px}
.fix-global-nav #nav-global .nav {width: 100%}
#nav-global .nav .nav-puma, #nav-global .nav .nav-shop, #nav-global .nav .nav-language, #nav-global .nav .nav-users, #nav-global .nav .nav-my-account {float: right; position: relative}
#nav-global .nav .nav-puma {float: left; height: 30px; width: 153px}
#nav-global .nav-shop {padding-right: 8px}
#nav-global .control {display: block; font-weight: bold; line-height: 30px; padding: 0 30px 0 14px; text-transform: uppercase}
#nav-global .shop-puma { display: block; font-weight: bold; line-height: 30px; padding: 0 14px 0 14px; text-transform: uppercase}
#nav-global .sign-in {display: block; font-weight: bold; line-height: 30px; padding: 0 30px 0 14px; text-transform: uppercase}
#nav-global .find-store {display: block; font-weight: bold; line-height: 30px; padding: 0 14px 0 14px; text-transform: uppercase}
#nav-global .logout {float:left;display: block; font-weight: bold; line-height: 30px; padding: 0 30px 0 14px; text-transform: uppercase;background-color: #fff; color: #ef0403;word-spacing:5pt;}
#nav-global .logout .img{float:left; padding: 9px 10px 0 20px;}
#nav-global .nav .nav-puma .control {height: 51px; left: 0; overflow: hidden; padding: 0; position: absolute; top: -21px; text-indent: -9999px; width: 153px; z-index: 10001}
#nav-global .nav .nav-puma .control2 {height: 51px; left: 0; overflow: hidden; padding: 0; position: absolute; top: -21px; text-indent: -9999px; width: 153px; z-index: 10001}
#nav-global .nav .nav-puma .current {}
#nav-global .nav .nav-shop .current, #nav-global .nav .nav-language .current, #nav-global .nav .nav-users .current, #nav-global .nav .nav-my-account .current {background-color: #fff; color: #ef0403}
#nav-global .global-sub {border-bottom: 6px solid #fff; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; bottom: 0; -moz-box-shadow: 0 -4px 5px rgba(0,0,0,0.27); -webkit-box-shadow: 0 -4px 5px rgba(0,0,0,0.27); box-shadow: 0 -4px 5px rgba(0,0,0,0.27); padding-bottom: 1px; position: absolute; right: 0; visibility: hidden; z-index: 10000}
#nav-global .nav-puma .global-sub {left: 22px; right: auto; width: 247px}
#nav-global .nav-shop .global-sub {right: 8px; width: 539px}
#nav-global .nav-shop .global-sub#login {right: 8px; width: 480px}
#nav-global .nav-language .global-sub {width: 144px}
#nav-global .nav-users .global-sub {width: 449px}
#nav-global .nav-my-account .global-sub {width: 529px}
#nav-global h4 {color: #6c0908; font-size: 15px; font-weight: bold; text-transform: uppercase}
#nav-global .section h4, #nav-global .section-heading, #nav-global .header-row {line-height: 30px; padding: 4px 0 0 17px}
#nav-global .header-row {padding-right: 15px}
#nav-global .section ul {margin: 0; padding: 4px 0 10px}
#nav-global .section a {display: block; font-size: 10px; font-weight: bold; padding: 4px 0 4px 24px; text-transform: uppercase}
#nav-global .section a:hover {}
#nav-global .nav-puma .wrapper {width: 247px}
#nav-global .nav-puma .primary-row {}
#nav-global .nav-puma .section { width: 167px}
#nav-global .nav-puma .first {width: 220px}
#nav-global .nav-puma h4 {padding-left: 25px}
#nav-global .nav-puma .first h4 {background: none}
#nav-global .nav-puma .primary-row ul {padding-left: 1px}
#nav-global .nav-puma .first ul {padding-left: 0}
#nav-global .nav-puma .connect {padding: 12px 0 22px 25px}
#nav-global .nav-puma .connect ul {margin: 0}
#nav-global .nav-puma .connect li {float: left; margin-right: 21px}
#nav-global .nav-puma .connect a {display: block; font-size: 9px; font-weight: bold; padding-left: 17px; text-transform: uppercase}
#nav-global .nav-puma .connect .facebook a {}
#nav-global .nav-puma .connect .twitter a {}
#nav-global .nav-puma .connect .youtube a {}
#nav-global .nav-puma .connect .flickr a {}
#nav-global .nav-shop .section-heading {padding-left: 21px}
#nav-global .nav-shop .primary-row {}
#nav-global .nav-shop .primary-row .inner { padding: 19px 22px 13px}
#nav-global .nav-shop #closest-store {float: left; padding-bottom: 10px; width: 100%}
#nav-global .nav-shop #map-closest-store {float: left; height: 63px; margin-right: 16px; position: relative; width: 145px}
#nav-global .nav-shop #map-closest-store:before {bottom: -4px; content: ""; display: block; height: 38px; left: -8px; position: absolute; width: 45px}
#nav-global .nav-shop #map-closest-store img {display: block}
#nav-global .nav-shop #closest-store .description {font-size: 11px; line-height: 15px}
#nav-global .nav-shop #closest-store h5 {font-size: 12px; font-weight: bold; text-transform: uppercase}
#nav-global .nav-shop #closest-store .location {display: block; margin: 3px 0}
#nav-global .nav-shop #closest-store ul {margin: 0; overflow: hidden; width: 334px}
#nav-global .nav-shop #closest-store li {float: left; margin-right: 15px}
#nav-global .nav-shop #closest-store ul a {padding-left: 15px; display: block}
#nav-global .nav-shop #closest-store .directions a {}
#nav-global .nav-shop #closest-store .more-stores a {}
#nav-global .store-search {border-top: 1px dotted #830a0a; clear: both; padding-top: 10px}
#nav-global .store-search-wrapper {background: #970808; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); height: 26px; position: relative; overflow: hidden; width: 100%}
#nav-global .focused {-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5); -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5); box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5)}
#nav-global .store-search h5 {border-right: 1px dotted #f60d0d; color: #f10908; float: left; font-size: 10px; font-weight: bold; line-height: 18px; margin-top: 4px; padding: 0 9px 0 25px; text-transform: uppercase}
#nav-global .store-search input {background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; color: #f3d9d9; font-size: 11px; float: left; line-height: 26px; height: 26px; padding: 0 0 0 11px; width: 295px}
#nav-global .store-search input:focus {outline: none}
#nav-global .store-search .infield {color: #f3d9d9; font-size: 11px; line-height: 26px; margin-left: 11px; text-transform: lowercase}
#nav-global .store-search button {background: none; border-left: 1px dotted #f60d0d; color: #f30605; float: right; font-size: 11px; font-weight: bold; line-height: 18px; margin-top: 4px; padding: 0 7px 0 5px; text-transform: uppercase}
#nav-global .nav-shop .secondary-row {
	padding: 12px 39px 0px 0;}
#nav-global .nav-shop .secondary-row h4 {margin: 0 0 8px 20px}
#nav-global .nav-shop .secondary-row h5, #nav-global .nav-shop .secondary-row h5 a {font-size: 18px; font-weight: bold; margin-bottom: 4px; text-transform: uppercase}
#nav-global .nav-shop .secondary-row h5 a {padding: 10px 0 4px 20px}
#nav-global .nav-shop .secondary-row .shopping {overflow: hidden; width: 100%}
#nav-global .nav-shop .secondary-row .shopping_login {overflow: hidden; width: 480px;}
#nav-global .nav-shop .secondary-row .section_login1 {float: left;width: 196px;height:242px;}
#nav-global .nav-shop .secondary-row .section_login2 {float: left;width: 284px;height:222px;}
#nav-global .nav-shop .secondary-row .section_login2 .top{overflow: hidden;padding:43px 0 0 13px;letter-spacing:3px;}
#nav-global .nav-shop .secondary-row .section_login2 .footer{overflow: hidden;padding:7px 0 0 13px;letter-spacing:10px;}
#nav-global .nav-shop .secondary-row .section_login2 .bottom{overflow: hidden;padding:58px 0 0 15px;}
#nav-global .nav-shop .secondary-row .section_login2 .bottom .left{float: left;width:190px;}
#nav-global .nav-shop .secondary-row .section_login2 .bottom .left input{
   border: 1px solid #ffffff;
	background-color:#ffffff;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 8pt;
	font-weight:bolder;
    height: 22px;
	width:168px;
    color:#888888;
	vertical-align:middle;
	line-height:24px;
	padding:0 0 0 10px;
}
#nav-global .nav-shop .secondary-row .section_login2 .bottom .right{float: left;}
#nav-global .nav-shop .secondary-row .section {float: left; width: 167px; padding-bottom:20px;}
#nav-global .nav-shop .secondary-row .last-section {width: 166px}
#nav-global .nav-shop .secondary-row .section ul {background: none; padding: 0 1px 0 0}
#nav-global .nav-shop .secondary-row ul a {background: none; font-size: 12px; padding: 0; text-transform: none}
#nav-global .nav-shop .secondary-row .section > ul > li {padding: 6px 4px 5px 20px}
#nav-global .nav-shop .secondary-row .section > ul > li:hover {background: #a60f0e;}
#nav-global .nav-shop .secondary-row ul ul {font-style: italic; overflow: hidden; width: 100%}
#nav-global .nav-shop .secondary-row ul ul li {float: left; line-height: 12px}
#nav-global .nav-shop .secondary-row ul ul a {border-right: 1px dotted #951313; font-size: 11px; font-weight: normal; margin-right: 8px; padding-right: 9px}
#nav-global .nav-shop .secondary-row ul ul .last a {border-right: none; margin-right: 0; padding-right: 2px}
#nav-global .nav-shop .secondary-row ul ul a:hover {color: #ff0101}
#nav-global .nav-users .primary-row {}
#nav-global .nav-users .section {float: left; padding: 18px; width: 202px}
#nav-global .nav-users .secondary-section {padding-bottom: 25px; width: 175px}
#nav-global .nav-users .forms {border-bottom: 1px solid #c20b0b; margin-bottom: 13px}
#nav-global .nav-users .forms li {margin-bottom: 13px}
#nav-global .nav-users .inline {padding-left: 25px; position: relative}
#nav-global .nav-users .forms label {display: block; font-size: 11px; font-weight: bold; text-transform: uppercase}
#nav-global .nav-users .inline label {font-size: 11px; font-weight: normal; line-height: 14px; text-transform: none}
#nav-global .nav-users .inline label a {background: none; display: inline; font-size: 11px; font-weight: normal; padding: 0; text-decoration: underline; text-transform: none}
#nav-global .nav-users .forms input {background: #b30d0d; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); box-shadow: inset 0 1px 4px rgba(0,0,0,0.35); color: #f7f0f0; font-size: 11px; height: 24px; line-height: 24px; padding: 0 10px; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; transition: background 0.25s ease-in-out; width: 182px}
#nav-global .nav-users .forms input:focus {background: #ca1313; -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5); -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5); box-shadow: inset 0 1px 4px rgba(0,0,0,0.35), 0 0 15px rgba(255,255,255,0.5); outline: none}
#nav-global .nav-users .secondary-section .forms input {width: 155px}
#nav-global .nav-users .forms .inline input {left: 0; padding: 0; position: absolute; top: -6px; width: auto}
#nav-global .nav-users .forms .buttons {border-bottom: 1px dotted #b70b0b; margin-bottom: 2px; padding-bottom: 13px}
#nav-global .nav-users .forms .button {background: #7a0807; color: #ec0403; height: 26px; line-height: 26px; padding: 0 36px 0 12px}
#nav-global .nav-users .secondary-section .forms .button {background: #510707 url(../../images/common/footer/ico-upb.png) no-repeat 100% -869px}
#nav-global .nav-users .section .trouble-sign-in { font-weight: normal; line-height: 14px; padding: 0 0 0 19px; text-transform: none }
#nav-global .nav-users h5 {font-size: 12px; font-weight: bold; line-height: 16px; margin-bottom: 8px; text-transform: uppercase}
#nav-global .nav-users .highlight {color: #fbc407}
#nav-global .nav-users .section .btn-create-account {background: #ee0403; color: #530706; display: inline-block; font-size: 12px; line-height: 14px; padding: 5px 50px 5px 11px}
#nav-global .sign-in-help, #nav-global .create-account {background: #ee0403; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; bottom: 0; -moz-box-shadow: 0 -4px 5px rgba(0,0,0,.27); -webkit-box-shadow: 0 -4px 5px rgba(0,0,0,.27); box-shadow: 0 -4px 5px rgba(0,0,0,.27); left: 0; position: absolute; width: 449px; z-index: 100000}
#nav-global .header-row h4 {float: left}
#nav-global .header-row a {display: block; float: right; padding-left: 19px}
#nav-global .header-row a strong {text-decoration: underline}
#nav-global .alert-row {background: #a70c0b; padding: 10px 10px 10px 18px}
#nav-global .alert-row p {margin-bottom: 0; padding-left: 16px}
#nav-global .nav-my-account .header-row {padding-right: 0}
#nav-global .nav-my-account .header-row img {float: left; margin: 4px 8px 0 0}
#nav-global .nav-my-account .header-row h4 {font-size: 13px}
#nav-global .nav-my-account .header-row ul {float: right; margin: 0}
#nav-global .nav-my-account .header-row li {float: left; position: relative}
#nav-global .nav-my-account .header-row li:before {content: ""; display: block; height: 24px; left: 0; position: absolute; top: -4px; width: 7px}
#nav-global .nav-my-account .header-row li.first:before {display: none}
#nav-global .nav-my-account .header-row a {background: none; color: #550706; float: none; font-size: 10px; font-weight: bold; padding: 0 12px; text-transform: uppercase}
#nav-global .nav-my-account .primary-row {}
#nav-global .nav-my-account .section {float: left; width: 271px}
#nav-global .nav-my-account .nav-tabs-header {background: #c00b0b;}
#nav-global .nav-my-account .nav-tabs {padding: 13px 0 0 18px}
#nav-global .nav-my-account .nav-tabs li {background: none; padding: 1px 1px 0; width: 30px}
#nav-global .nav-my-account .nav-tabs .current {background: #ee0403; border: 1px solid #9d0606; border-bottom: none; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; -moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.2); box-shadow: 0 -1px 5px rgba(0,0,0,0.2); padding: 0}
#nav-global .nav-my-account .nav-tabs a {height: 25px; overflow: hidden; padding: 0; text-indent: -9999px; width: 29px}
#nav-global .nav-my-account .nav-tabs .news {}
#nav-global .nav-my-account .nav-tabs .comments {}
#nav-global .nav-my-account .nav-tabs .events {}
#nav-global .nav-my-account .tabs {padding-top: 16px}
#nav-global .nav-my-account .tab {background: none !important; padding: 0 20px 18px 0}
#nav-global .nav-my-account .tab h5 {color: #fff; font-size: 12px; font-weight: bold; line-height: 16px; margin: 0 0 8px 19px; text-transform: uppercase}
#nav-global .nav-my-account .articles {overflow: hidden; padding-left: 19px; position: relative}
#nav-global .nav-my-account .articles ul {background: none; height: 187px; padding: 0 17px 0 0}
#nav-global .nav-my-account .articles li {border-bottom: 1px solid #c70605}
#nav-global .nav-my-account .articles a {background: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-weight: normal; line-height: 15px; overflow: hidden; padding: 6px 10px; text-transform: uppercase}
#nav-global .nav-my-account .articles .previous, #nav-global .nav-my-account .articles .active, #nav-global .nav-my-account .articles .active:hover {border: none}
#nav-global .nav-my-account .articles .previous a {padding-bottom: 7px}
#nav-global .nav-my-account .articles .active a {background: #a70504; color: #ffc500; padding-bottom: 7px}
#nav-global .nav-my-account .events .dtstart {background: #fff; color: #ee0403; display: block; float: left; font-size: 9px; font-style: normal; line-height: 16px; margin-right: 9px; text-align: center; text-transform: uppercase; width: 35px}
#nav-global .nav-my-account .events .dtstart .day {border-bottom: 1px dotted #ee0403; color: #ee0403; display: block; font-size: 20px; font-weight: bold; line-height: 20px; padding: 3px 0}
#nav-global .nav-my-account .events .summary {color: #fff; display: block; font-weight: normal}
#nav-global .nav-my-account .events .location {color: #660b0a}
#nav-global .nav-my-account .events .active .summary {color: #ffc500}
#nav-global .nav-my-account .events .active .location {color: #fefefe}
#nav-global .nav-my-account .articles .item {display: none}
#nav-global .nav-my-account .jScrollPaneContainer {overflow: hidden; position: relative}
#nav-global .nav-my-account .jScrollPaneTrack {background: #c10b0b; position: absolute; right: 0}
#nav-global .nav-my-account .jScrollPaneDrag {background: #8d0808; cursor: pointer; position: absolute}
#nav-global .nav-my-account .secondary-section {padding: 20px; width: 218px}
#nav-global .nav-my-account .secondary-section img {display: block; margin-bottom: 19px}
#nav-global .nav-my-account .secondary-section a {background: none; padding: 0}
#nav-global .nav-my-account .secondary-section .content {height: 80px; line-height: 16px}
#nav-global .nav-my-account .secondary-section .no-image {height: 208px}
#nav-global .nav-my-account .secondary-section .content p {margin-bottom: 0}
#nav-global .nav-my-account .secondary-section .jScrollPaneContainer {margin-bottom: 11px}
#nav-global .nav-my-account .secondary-section .jScrollPaneTrack {background: #690c0b}
#nav-global .nav-my-account .secondary-section .jScrollPaneDrag {background: #470605}
#nav-global .nav-my-account .secondary-section .button {background: #ee0403; display: inline-block; color: #5d0e0d; font-size: 11px; padding: 3px 33px 2px 12px}
#nav-global .nav-my-account .secondary-section .comment {padding-top: 41px}
#nav-global .nav-my-account .secondary-section .comment .content {background: #840f0e; height: 167px}
#nav-global .nav-my-account .secondary-section .event h6 {margin: 0 0 16px}
#nav-global .nav-my-account .secondary-section .event h6 a {color: #ffc600; font-size: 26px; line-height: 27px; text-transform: none}
#nav-global .nav-my-account .secondary-section .event .content {height: 144px}
