﻿.container_sdk {
    position: relative;
    width: 1080px;
    min-height: 1200px;
    margin: 0 auto;
    padding: 41px 0 0 0;
    background-color: #c8c8c8;
	overflow:hidden;
}
.container_sdk:after{display:block;clear:both;content:''}
#header_sdk {
	position:relative;
	z-index:9999;
	width:990px;
	height:41px;
	margin:0 auto;
}
li#gn-right {
	margin-right:-5px;
	width:11px;
	height:41px;
	float: right;
}
#content_sdk {
	position: relative;
	padding: 45px;
	z-index:100;
}

#content_sdk #billBoard {
	position:absolute;
	width:1080px;
	height:710px;
	top:-106px;
	left:0;
	z-index:1;
}
#content_sdk #billBoard .hero {*zoom:1;}
#content_sdk #billBoard .hero:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}
#content_sdk #billBoard .hero {
	height: 710px;
}
#content_sdk #billBoard .hero li {
	float: left;
	position:relative;
}
#content_sdk #billBoard .hero li a.bgImg {
	display:block;
}
#content_sdk #billBoard .hero li a.bgImg img {
	width: 1080px;
	height: 710px;
}
#content_sdk #billBoardNav {
	position: absolute;
	z-index: 99999;
	width: 1080px;
	top: 0;
	left: 0;
}
#content_sdk #billBoardNav a.prev,
#content_sdk #billBoardNav a.next {
	position: absolute;
	width: 34px;
	height: 34px;
	text-indent: -99999px;
	top: 215px;
	z-index: 99999;
}
#content_sdk #billBoardNav a.prev {
	left: 45px;
	background-position: 0 0;
}
#content_sdk #billBoardNav a.next {
	right: 45px;
	background-position: -34px 0;
}
#content_sdk #billBoardNav a.disabled {
	cursor: default;
	background-image: none;
}
#content_sdk #billBoardNav div.indexWrap {
	position: absolute;
	height: 26px;
	right: 80px;
	top: 435px;
	padding: 0 22px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex {
	position: relative;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex img {
	width: 115px;
	height: 73px;
	display: block;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg1,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg2,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg3,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg4,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg5,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg6,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg7,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg8,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg9,
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg10 {
	display: none;
	position: absolute;
	top: -110px;
	left: -50px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbCase {
	display: block;
	background-color: #FFF;
	padding: 3px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg1 {
	left: -50px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg2 {
	left: 8px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg3 {
	left: 66px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg4 {
	left: 124px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg5 {
	left: 182px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg6 {
	left: 240px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg7 {
	left: 298px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg8 {
	left: 356px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg9 {
	left: 414px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex .thumbsImg10 {
	left: 472px;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex span.title {
	display: block;
	font-weight: bolder;
	color: #016BBE;
	font-size: 10px;
	margin: 5px 0;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
#content_sdk #billBoardNav div.indexWrap div.thumbIndex span.pointer {
	display: block;
	/*background-color: aqua;*/
	width: 15px;
	margin-left: 50px;
	height: 8px;
}
#content_sdk #billBoardNav div.index a {
	position: relative;
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -99999px;
	z-index: 100;
}
#content_sdk #billBoardNav div.index span.indexCase {
	position: relative;
	z-index: 100;
}
#content_sdk #billBoardNav div.bar {
	position: absolute;
	top: 10px;
	left: 24px;
	width: 0;
	height: 6px;
	background-color: #242323;
	z-index: 0
	*z-index: -20;
}
#content_sdk #billBoardNav div.bar span.gauge {
	position: relative;
	width: 0px;
	display: block;
	height: 6px;
	background-color: #FFF;

}
#content_sdk #billBoardNav div.index span {
	position: relative;
	display: block;
	float: left;
	margin: 6px 22px 0 22px;
}
#content_sdk #billBoardNav div.index span.selected a {
}
#content_sdk #billBoardNav div.index span:first-child {
	margin-left: 0;
}
#content_sdk #billBoardNav div.index span:last-child {
	margin-right: 0;
}

#content_sdk .contents_top{
	position: relative;
	z-index: 9999;
	margin-top: 435px;
}
#content_sdk .contents_top .wrap{
	float:left;
}

#content_sdk .contents_top:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}
#content_sdk .contents_top {*zoom:1;}
#content_sdk .contents_top .contents_top_left{
	float:right;
	width:665px;
}
#content_sdk .contents_top .contents_top_left ul{
	float:left;
	background-color:#ffffff;
	margin-bottom:0;
}
#content_sdk .contents_top .contents_top_left li p.mask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
}
#content_sdk .contents_top .contents_top_left li{
	position: relative;
	overflow:hidden;
	float:left;
	width:332px;
	height:170px;
}
#content_sdk .contents_top .contents_top_left a{
	display:block;
	cursor:pointer;
}
#content_sdk .contents_top .contents_top_left .news_list{
	cursor:pointer;
	color:#959595;
	width:665px;
}
#content_sdk .contents_top .contents_top_left .news_list h1{
	color:#555555;
	font-weight:bold;
}
#content_sdk .contents_top .contents_top_left .news_list #news_date{
	border-left:1px dotted #dcdcdc;
}
#content_sdk .contents_top .contents_top_left li.delimiter{
	width:1px;
	background-color:#eeeeee;
	height:150px;
	padding-top:20px;
}
#content_sdk .contents_top .contents_top_left .news_title{
	float:left;
	height:45px;
	width:665px;
	cursor:pointer;
}
#content_sdk .contents_top .contents_top_right{
	margin-top:0px;
	float:left;
	width:325px;
}
#content_sdk .contents_top .contents_top_right .best_item{
	position: relative;
	width:325px;
	height:311px;
}
#content_sdk .contents_top .contents_top_right .best_item p.best_tag{
	position: absolute;
	left: 210px;
	top: 10px;
	z-index: 99999;
	width: 123px;
	height: 25px;
}
#content_sdk .contents_top .contents_top_right .best_item p.preBtn{
	cursor:pointer;
	position: absolute;
	left: 10px;
	top: 100px;
	z-index: 99999;
	width: 26px;
	height: 26px;
}
#content_sdk .contents_top .contents_top_right .best_item p.nextBtn{
	cursor:pointer;
	position: absolute;
	left: 290px;
	top: 100px;
	z-index: 99999;
	width: 26px;
	height: 26px;
}
.best_history_box{position:relative;overflow:hidden;width:280px;}
.best_con_box{width:9999px;color:#868686;}
.best_con_box div.best_tap-div{float:left;width:280px;}

.history-in{margin-top:-14px;}
.history-in div.Tap_lnb{float:right;width:325px;height:37px;}
.history-in div.Tap_lnb ul{margin:10px 10px 0 0 ;float:right;}
.history-in div.Tap_lnb ul li{color:#ffffff;font-weight:bold;font-size:13px;cursor:pointer;width:15px;float:left;}
.Bg-line{position:absolute;top:69px;left:20px;z-index:50;width:637px;background:#b7b7b7;}
.Bg-line img{position:relative;}
.Map-Img{position:relative;bottom:-6px;left:15px;z-index:120;}
.history_box{position:relative;overflow:hidden;width:325px;}
.con_box{width:9999px;color:#868686;}
.con_box div.Top_Img{padding-bottom:16px;}
.con_box div.tap-div{float:left;width:400px;}
.con_box div.tap-div h4{padding-bottom:10px;}
.con_box div.tap-div p.tap_p0{padding-bottom:15px;font-weight:bold;line-height:18px;}
.con_box table{line-height:18px;}
.con_box table th{padding-bottom:24px;vertical-align:top;text-align:left;}
.con_box table td{padding-bottom:24px;word-spacing:-2px;}
.con_box table td img.fl{float:left;padding-right:15px;}

#content_sdk .contents_bottom{
	position: relative;
	z-index: 9999;
	/*margin-top: 460px;*/	
	height:200px;
	width:1000px;
}
#content_sdk .contents_bottom .wh_title{
	margin:32px 9px 0 0;
}
#content_sdk .contents_bottom .wh_title #wh_lifestyle{
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:115px;
	height:25px;
}
#content_sdk .contents_bottom .wh_title #wh_lifestyle:hover, #wh_lifestyleOn {
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:115px;
	height:25px;
}
#content_sdk .contents_bottom .wh_title #wh_performance{
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:94px;
	height:25px;
}
#content_sdk .contents_bottom .wh_title #wh_performance:hover, #wh_performanceOn {
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:94px;
	height:25px;
}
#content_sdk .contents_bottom .wh_title #wh_blackstation{
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:93px;
	height:25px;
}
#content_sdk .contents_bottom .wh_title #wh_blackstation:hover, #wh_blackstationOn {
	cursor:pointer;
	float:right;
	margin-top:5px;
	margin-left:10px;
	width:93px;
	height:25px;
}
#content_sdk .contents_bottom .wh_list{
	width:1035px;
	position: absolute;
	z-index: 9999;
	/*height:1505px;*/
}
#content_sdk .contents_bottom .wh_list:after{display:block;clear:both;content:''}

#content_sdk .contents_bottom .wh_list ul{
	float:left;
	margin-right:10px;
}
#content_sdk .contents_bottom .wh_list li{
	position: relative;
	width:239px;
	margin-bottom:10px;
	padding:0;
}

#content_sdk .contents_bottom .wh_list li p.wh_mask1{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
}
#content_sdk .contents_bottom .wh_list li p.wh_mask2{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
}
#content_sdk .contents_bottom .wh_list li p.wh_mask3{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
}
#content_sdk .contents_bottom .wh_list li p.wh_mask4{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
}
#content_sdk .contents_bottom .wh_list li p.movieon{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99998;
}
#content_sdk .contents_bottom .wh_list li p.shadow{
	position: absolute;
	left: 0;
	bottom:-14px;
	width: 100%;
	height: 8px;
	z-index: 99998;
}
.ie7 #content_sdk .contents_bottom .wh_list li p.shadow,
.ie8 #content_sdk .contents_bottom .wh_list li p.shadow,
.ie9 #content_sdk .contents_bottom .wh_list li p.shadow{bottom:-20px;}

#content_sdk .contents_bottom .wh_list li ul.wh_maskon{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#lifestyle189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#performance189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blackstation189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#lifestyle239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#performance239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blackstation239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#lifestyle388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#performance388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blackstation388{
}

#content_sdk .contents_bottom .wh_list li ul.wh_maskon#tw189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#tw239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#tw388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#yt189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#yt239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#yt388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#fb189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#fb239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#fb388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#com189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#com239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#com388{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blog189{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blog239{
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon#blog388{
}

#content_sdk .contents_bottom .wh_list li ul.wh_maskon img#bottom{
	position: absolute;
	bottom:39px;
	left:10px;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon li#title{
	position: absolute;
	bottom:30px;
	left:43px;
	font-weight:bold;
	font-size:12px;
	width:180px;
	height:20px;
	overflow:hidden;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon li#click{
	position: absolute;
	bottom:-3px;
	left:35px;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon img#onclick_area{
	cursor:pointer;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon li#pin{
	position: absolute;
	bottom:7px;
	left:118px;
}
#content_sdk .contents_bottom .wh_list li ul.wh_maskon li#fb{
	position: absolute;
	bottom:7px;
	left:195px;
}
#content_sdk .contents_bottom .wh_list li#default_img1{
	width:239px;
	height:239px;
}
#content_sdk .contents_bottom .wh_list li#default_img2{
	width:239px;
	height:239px;
}
#content_sdk .contents_bottom .wh_list li#default_img3{
	width:239px;
	height:239px;
}
#content_sdk .contents_bottom .wh_list li#default_img4{
	width:239px;
	height:239px;
}
#content_sdk .contents_bottom .wh_list li#default_img5{
	width:239px;
	height:239px;
}
