.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}
.pop-layer {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; z-index: 10;}  
.pop-layer .pop-container {padding:0;}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}
a.cbtn {display:inline-block; font-size:13px; color:#fff; line-height:25px;} 
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}


img {border:0px;}

.pop-layer .layer_wrap {
	width: 382px;
	height:174px;
	margin:0 auto;
	border:1px solid #d0050b;
	background:url(/images/layer_alert/layer_bg.jpg) no-repeat;
	padding-top:8px;
}
.pop-layer .layer_wrap .subject {
	margin-left:10px;
	padding-top:4px;
	float:left;
	width:340px;
	height:26px;
	color:white;
	font-weight:bold;
	font-size:12px;
	font-family:gulim;
}
.pop-layer .layer_wrap .btn {	
	float:left;
}
.pop-layer .layer_wrap .body {
	margin-top:30px;
	margin-left:110px;
	clear:both;
	color: black;
	font-weight:bold;
	font-size:12px;
	font-family:gulim;
	line-height:150%;
}