HTML
<script type="text/javascript" src="http://mylko72.maru.net/jquerylab/inc/js/jquery-1.7.1.min.js"></script>
<a class="btn-example" onclick="layer_open('layer2');return false;" href="#">예제-2 보기</a>
<div class="layer">
	<div class="bg"></div>
	<div class="pop-layer" id="layer2">
		<div class="pop-container">
			<div class="pop-conts">
				<!--content //-->

<div class="layer_wrap">
	<div class="subject">slotto 안내</div>
	<div class="btn_close"><a class="cbtn" href="#"><img src="images/layer_alert/layer_close.jpg"></a></div>
	<div class="body">제 12345회가 마감 되었습니다.<br>제 12346회가 구매시작 되었습니다.</div>
	<p align="center"><input type=image src="images/layer_alert/layer_btn_bg.jpg" value="aaa"></p>
</div>

				<!--// content-->
			</div>
		</div>
	</div>
</div>


CSS
<style type="text/css">
.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}
.pop-layer {display:none; position: absolute; top: 50%; left: 50%; height:auto;  background-color:#fff; z-index: 10;}  
.pop-layer .pop-container {padding:0;}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}
a.cbtn {display:inline-block; font-size:13px; color:#fff; line-height:25px;} 
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}

body{ background:center;
      margin:0 auto;
	  padding:0;
	  width:100%;
	  }

img {border:0px;}

.pop-layer .layer_wrap {
	width: 382px;
	height:174px;
	margin:0 auto;
	border:1px solid #d0050b;
	background:url(images/layer_alert/layer_bg.jpg) no-repeat;
	padding-top:8px;
}
.pop-layer .layer_wrap .subject {
	margin-left:10px;
	padding-top:4px;
	float:left;
	width:340px;
	height:26px;
	color:white;
	font-weight:bold;
	font-size:12px;
	font-family:gulim;
}
.pop-layer .layer_wrap .btn {	
	float:left;
}
.pop-layer .layer_wrap .body {
	margin-top:30px;
	margin-left:110px;
	clear:both;
	color: black;
	font-weight:bold;
	font-size:12px;
	font-family:gulim;
	line-height:150%;
}
</style>


Javascript
<script type="text/javascript">
function layer_open(el){
	var temp = $('#' + el);
	var bg = temp.prev().hasClass('bg');    //dimmed 레이어를 감지하기 위한 boolean 변수

	if(bg){
		$('.layer').fadeIn();   //'bg' 클래스가 존재하면 레이어가 나타나고 배경은 dimmed 된다. 
	}else{
		temp.fadeIn();
	}

	// 화면의 중앙에 레이어를 띄운다.
	if (temp.outerHeight() < $(document).height() ) temp.css('margin-top', '-'+temp.outerHeight()/2+'px');
	else temp.css('top', '0px');
	if (temp.outerWidth() < $(document).width() ) temp.css('margin-left', '-'+temp.outerWidth()/2+'px');
	else temp.css('left', '0px');

	temp.find('a.cbtn').click(function(e){
		if(bg){
			$('.layer').fadeOut(); //'bg' 클래스가 존재하면 레이어를 사라지게 한다. 
		}else{
			temp.fadeOut();
		}
		e.preventDefault();
	});

	$('.layer .bg').click(function(e){  //배경을 클릭하면 레이어를 사라지게 하는 이벤트 핸들러
		$('.layer').fadeOut();
		e.preventDefault();
	});
}               

</script>
