@font-face {
  font-family: 'NanumGothic';
  src: url(font-path('NanumGothic.eot'));
  src: url(font-path('NanumGothic.ttf')) format('truetype'), url(font-path('NanumGothic.eot?#iefix')) format('embedded-opentype'), url(font-path('NanumGothic.woff')) format('woff');
  src:local(¡Ø), url('NanumGothic.woff') format('woff');
}
/*
@font-face {
  font-family: 'NanumMyeongjo';
  src: url(font-path('NanumMyeongjo.eot'));
  src: url(font-path('NanumMyeongjo.ttf')) format('truetype'), url(font-path('NanumMyeongjo.eot?#iefix')) format('embedded-opentype'), url(font-path('NanumMyeongjo.woff')) format('woff');
  src:local(¡Ø), url('NanumMyeongjo.woff') format('woff');
}
*/

*
{ 
	font-family: 'NanumGothic', 'MalgunGothic', 'Verdana', 'sans-serif';
	font-size:12px; 
	font-weight:400;
}

body 
{
	padding:0; 
	margin:0; 
	font-family: 'NanumGothic', 'MalgunGothic', 'Verdana', 'sans-serif';
	color:#626262;
	background-color: #fff;
}

img { border:0}

a			{color:#626262;	text-decoration: none;}				
a:link		{color:#626262;	text-decoration: none;}		
a:visited	{color:#626262;	text-decoration: none;}
a:hover		{color:#02539d;	text-decoration: underline;}

input { padding:8px; border:1px solid #ccc; }

select { 
	padding: 8 32 8 8; /* 여백으로 높이 설정 */
	font-family: inherit; /* 폰트 상속 */ 
	background: url(/admin/images/ArrowDown.png) no-repeat 100% 50%; /* 네이티브 화살표 대체 */ 
	background-color: #fff;
	border: 1px solid #999; border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
} 

/* IE 10, 11의 네이티브 화살표 숨기기 */ 
select::-ms-expand { display: none; }

.service1		{color:#106e99;}
.service2		{color:#3c7a10;}
.service3		{color:#093366;}

.input2 {line-height:130%; border: 1px #87a6c2 solid; color: #666666; background:#FFFFFF; padding:2 0 0 2;}
.input3 {line-height:130%; border: 1px #cbcbcb solid; padding:2 0 0 0;}

			
.top	 	    {color: #FFFFFF;}
.top a     		{color:#FFFFFF; text-decoration: none;}
.top a:link     {color:#FFFFFF; text-decoration: none;}		
.top a:visited  {color:#FFFFFF; text-decoration: none;}
.top a:hover	{color:#5ADEFF; text-decoration: none;}


.title				{font-size:12px; font-weight: bold; color:#093366;}
.title2				{font-size:12px; font-weight: bold; color:#343434; }

.subtitle			{font-size:16px; font-weight: bold; color:#02539d; padding:0 0 0 7;}

.submenu a:link       {color:#5c5c5c; text-decoration: none; padding:2 0 0 0;}		
.submenu a:visited	  {color:#5c5c5c; text-decoration: none; padding:2 0 0 0;}
.submenu a:hover	  {color:#02539d; text-decoration: none; padding:2 0 0 0;}

.table_l 		{background:FFFFFF; padding:2 0 0 8;}
.table_r 		{text-align:right; background:FFFFFF; padding:2 8 0 0;}
.table_c 	{text-align:center; background:FFFFFF; padding:2 0 0 0;}

.view_l 		{font-size:11px; color:#124a71; font-weight: bold; background:EFF6F9; padding:2 0 0 15;}
.view_r 		{font-size:11px; color:#124a71; font-weight: bold; text-align:right; background:EFF6F9; padding:2 10 0 0;}
.view_c 		{font-size:11px; color:#124a71; font-weight: bold; text-align:center; background:EFF6F9; padding:2 0 0 0;}

.tabletitle_c 	{font-size:11px; color:#124a71; font-weight: bold; text-align:center; background:EFF6F9; padding:2 0 0 0;}
.tablec01 		{font-size:11px; color:#000000; font-weight: bold; text-align:center; background:ddf6d9; padding:2 0 0 0;}
.tablec02 		{font-size:11px; color:#000000; font-weight: bold; text-align:center; background:f7fdd0; padding:2 0 0 0;}
.tablec03 		{background:eff9ed; padding:2 0 0 8;}
.tablec03_c		{text-align:center; background:eff9ed; padding:2 0 0 0;}
.tablec04 		{background:fcfeec; padding:2 0 0 8;}
.tablec04_c		{text-align:center; background:fcfeec; padding:2 0 0 0;}


.bb{ width:1003px; margin:0px auto; padding-top:100px; text-align:center; }
.denglu { width:300px; height:200px; border:#666 1px solid; text-align:center;}

/*.w3-blue-h,.w3-hover-blue-h:hover{color:#000!important;background-color:#e7f1f8!important}*/
.w3-blue-h,.w3-hover-blue-h:hover{color:#000!important;background-color:#d7d9db!important}
.w3-bold { font-weight:500}
.w3-bolder { font-weight:600}
.w3-ultrabold { font-weight:700}

.w3-theme-w {color:#fff !important;}
.w3-theme-r {color:#f44336 !important;}
.w3-theme-b {color:#2196F3 !important;}
.w3-theme-g {color:#4CAF50 !important;}
.w3-hover-shadow-tiny:hover{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.w3-hover-shadow-small:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.16),0 3px 15px 0 rgba(0,0,0,0.12)!important}

.w3-text-8{font-size:8px!important}.w3-text-9{font-size:9px!important}.w3-text-10{font-size:10px!important}
.w3-text-11{font-size:11px!important}.w3-text-12{font-size:12px!important}.w3-text-13{font-size:13px!important}.w3-text-14{font-size:14px!important}
.w3-text-15{font-size:15px!important}.w3-text-16{font-size:16px!important}.w3-text-18{font-size:18px!important}.w3-text-24{font-size:24px!important}

.box-calendar {
	background: url(/admin/images/boxCalendar3.png) no-repeat 100% 50%; /* 네이티브 화살표 대체 */ 
	background-color: #fff;
}

.w3-htable { border:0; border-spacing: 1px 1px; width:100%; background-color:#cbe1ee; display:table}
.w3-htable tr:nth-child(odd){background-color:#f9f8f7}
.w3-htable tr:nth-child(even){background-color:#fff}
.w3-htable tr th {border-top:2px solid #cbe1ee; padding: 4px 4px;height:40px;background-color:#efefef;text-align:center;font-weight:600;white-space:nowrap}
.w3-htable tr th a {font-weight:600}
.w3-htable tr td {padding: 4px 4px;height:32px;/*background-color:#fff;*/text-align:center;white-space:nowrap}


.w3-btable { border:0; border-spacing: 1px 1px; width:100%; background-color:#cbe1ee; display:table}
.w3-btable tr:nth-child(odd){background-color:#fff}
.w3-btable tr:nth-child(even){background-color:#f9f8f7}
.w3-btable tr th {border-top:2px solid #cbe1ee; padding: 4px 4px;height:40px;background-color:#efefef;text-align:center;font-weight:600;white-space:nowrap}
.w3-btable tr th a {font-weight:600}
.w3-btable tr td {padding: 4px 4px;height:32px;/*background-color:#fff;*/text-align:center;white-space:nowrap}

.w-margin-left-16 {
    margin-left: : 16px!important;
}

